.mcontainer {
	height: 100%;
	/*border: 1px solid blue;*/
}

.mcontainerbox {
	display: flex;
	position: absolute;
	left: 11%;
	border:1px solid #ccc;
	border-radius: 8px;
	height: 80%;
	width: 85%;
}