.mcontainer {
	height: 100%;
	/*border: 1px solid blue;*/
}

.mcontainerbox {
	display: flex;
	position: absolute;
	left: 11%;
	border:1px solid #ccc;
	border-radius: 8px;
	height: 80%;
	width: 85%;
}

/* 用户设置使用css*/
.usersetting {
	width: 100%;
}
.userchange {
	margin: 2% 2%;
	height: 90%;
	width: 96%;
	/*border: 1px solid red;*/
}
.userchangecontainer {
	height: 100%;
	margin: 0 auto;
	/*text-align: center;*/
}